body {
  font-size: 1rem;
}

.container {

}

.input {
  padding: .3rem .7rem;
  border: 1px solid gray;
}

.button {
  background: blue;
  color: white;
  border: 1px solid transparent;
  text-transform: uppercase;
  cursor: pointer;
}

.w-full {
  width: 100%;
}