body {
  font-size: 1rem;
}

.App {
  max-width: 20rem;
  margin: auto;
  padding-top: 2rem;
}

.input {
  font-size: 1rem;
  padding: .4rem;
  border: 1px solid gray;
  box-sizing: border-box;
  display: block;
  border-radius: .4rem;
}

.input__has-errors, 
.input__has-errors:focus, 
.input__has-errors:active {
  outline: none;
  border: 1px solid red;
}

.input-container {
  margin-bottom: 1rem;
  display: block;
}

.input-label {
  margin-bottom: .3rem;
  display: block;
}

.error-message {
  color: white;
  padding: .1rem 0 .4rem;
  color: #721c24;
  margin-top: .2rem;
  margin-bottom: 1rem;
}

.button {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  border: 1px solid transparent;
  cursor: pointer;
  box-sizing: border-box;
}

.button:disabled {
  background: #dddddd;
}

.required {
  color: red;
}

.w-full {
  width: 100%;
}